.black .active a,
.black .active a:hover {
  background-color: black;
}

.nav-pills .pill-1 .nav-link:not(.active) {
  background-color: black;
}

.nav-pills .pill-1 .nav-link {
  background-color: black;
  color: white;
}

.btn-label {
  position: relative;
  left: -3px;
  display: inline-block;
  margin: -2px 0 1px;
}

.logo {
  fill: var(--color-primary);
}
.logo:hover {
  fill: white;
}

.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }

.line-vertical {
  width: 1px;
  height: 20px;
  float: left;
  background-color: gray;
  margin: 10px;
}
