.container-flow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    'one two three'
    'four five six'
    'seven eight nine';

  height: calc(100vh - 10px);
  perspective: 1000px;
}

.hover-area {
  align-self: stretch;
  justify-self: stretch;
}




.box {
  align-self: center;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;
  justify-content: space-between;
  justify-self: center;

  padding: 40px;
  position: relative;
  top: 10%;
  text-align: center;
  margin-top: 100px;
  border-radius:10px;
}

.box:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}


.box input[type="text"],
.box input[type="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4b6990;
  padding: 10px 10px;
  //width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  //width: 300px;
  border-color: #88A198
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #88A198;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 10vh;
  transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: #88A198
}

.forgot {
  text-decoration: underline
}
